{% extends "base.html" %}

{% block head %}
{% load static %}
<meta charset='utf-8' />

    <!-- <link href='./packages/core/main.css' rel='stylesheet' />
    <link href='./packages/daygrid/main.css' rel='stylesheet' />
    <link href='./packages/timegrid/main.css' rel='stylesheet' />

    <script src='./packages/core/main.js'></script>
    <script src='./packages/daygrid/main.js'></script>
    <script src='./packages/timegrid/main.js'></script> -->

    <link href='{% static 'packages/core/main.css' %}' rel='stylesheet' />
    <link href='{% static 'packages/daygrid/main.css' %}' rel='stylesheet' />
    <link href='{% static 'packages/timegrid/main.css' %}' rel='stylesheet' />

    <script src='{% static 'packages/core/main.js' %}'></script>
    <script src='{% static 'packages/daygrid/main.js' %}'></script>
    <script src='{% static 'packages/timegrid/main.js' %}'></script>

    <style>
        #calendar {
            max-width: 900px;
            margin: 40px auto;
        }
    </style>


{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card border-0" style ="width: 75%;">
        <div id='calendar'></div>
    </div>
</div>
<script>
    // Access classes needed to be added to the calendar via user -> schedule -> classes
    
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['dayGrid', 'timeGrid'],
            timezone: 'local',
            defaultView: 'timeGridWeek',
            minTime: '06:00:00',
            maxTime: '20:00:00',
            header: false,
            allDaySlot: false,
            now: '2020-01-12',
            visibleRange: {
                start: '2020-01-12',
                end: '2020-01-19'
            }
        });

        {% for class in class_list %}
            var baseTime = new Date('January 12, 2020 0:00:00');

            var startString = '{{class.start_time}}';
            var splitStartTime = startString.split(/ |:/);
            console.log(splitStartTime);
            var startHour = parseInt(splitStartTime[0], 10);
            var startMinute = parseInt(splitStartTime[1], 10);
            var StartAMPM = splitStartTime[2];
            var startTime = new Date('January 12, 2020 0:00:00');

            startTime.setHours(startHour, startMinute);
            


            var endString = '{{class.end_time}}';
            var splitEndTime = endString.split(' |:');
            var endHour = parseInt(splitEndTime[0], 10);
            var endMinute = parseInt(splitEndTime[1], 10);
            var endAMPM = splitEndTime[2];
            var endTime = new Date('January 12, 2020 0:00:00');


            console.log(startTime);
            endTime.setHours(endHour, endMinute);

            var classDays = '{{class.days}}';
            var replaceM = classDays.replace('M', '1');
            var replaceT = replaceM.replace('T', '2');
            var replaceW = replaceT.replace('W', '3');
            var replaceTh = replaceW.replace('TH', '4');
            var classDaysNum = replaceTh.replace('F', '5');
            var classDaysArray = classDaysNum.split('');
            console.log(classDaysArray);
            console.log('ttest');

            // loop is not executing at all
            {% for day in classDaysArray %}
                console.log("woohoo");
                var weekDay = parseInt({{day}}, 10);
                startTime.setDate(weekDay);
                endTime.setDate(weekDay);
                calendar.addEvent({
                    title: '{{class.course_title}}',
                    start: startTime,
                    end: endTime
                });
            {% endfor %}

            console.log("woop");

        {% endfor %}

        calendar.render();
        console.log(calendar.getEvents());
    });

</script>
{% endblock %}