{% extends "base.html" %}

{% block head %}
{% load static %}
<meta charset='utf-8' />

<link href="{% static 'packages/core/main.css' %}" rel='stylesheet' />
<link href="{% static 'packages/daygrid/main.css' %}" rel='stylesheet' />
<link href="{% static 'packages/timegrid/main.css' %}" rel='stylesheet' />

<script src="{% static 'packages/core/main.js' %}"></script>
<script src="{% static 'packages/daygrid/main.js' %}"></script>
<script src="{% static 'packages/timegrid/main.js' %}"></script>

<style>
    #calendar {
        max-width: 900px;
        margin: 40px auto;
    }
</style>


{% endblock %}

{% block content %}
<div class="container-fluid" style="text-align:center;">
    <div class="card border-0" style="width: 75%; display:inline-block;">
        <h1>Your Schedule</h1>
        <div id='calendar'></div>
    </div>
</div>
<script>
    // Access classes needed to be added to the calendar via user -> schedule -> classes

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['dayGrid', 'timeGrid'],
            timezone: 'local',
            defaultView: 'timeGridWeekDay',
            minTime: '07:00:00',
            maxTime: '23:00:00',
            contentHeight: 'auto',
            header: false,
            allDaySlot: false,
            now: '2020-01-13',
            visibleRange: {
                start: '2020-01-13',
                end: '2020-01-18'
            },
            views: {
                timeGridWeekDay: {
                    type: 'timeGrid',
                    duration: { days: 5 }
                }

            }
        });


        var colors = ["CornflowerBlue", "DeepPink", "green", "gold", "chocolate", "DarkKhaki", "LightBlue", "Plum"];
        var j = 0;

        // class_list is the list of classes the signed-in user has in their schedule
        {% for course in class_list %}

        // The week displayed is the first week of the semester
        var baseTime = new Date('January 12, 2020 0:00:00');
        var baseDay = baseTime.getDate();


        var startString = '{{course.start_time}}';
        var splitStartTime = startString.split(/ |:/);
        console.log(splitStartTime);
        var startHour = parseInt(splitStartTime[0], 10);
        var startMinute = parseInt(splitStartTime[1], 10);
        var startAMPM = splitStartTime[2];
        var startTime = new Date('January 12, 2020 0:00:00');

        if (startHour == 12) { startHour = 0 };

        if (startAMPM == "AM") {
            startTime.setHours(startHour, startMinute);
        } else {
            startTime.setHours(startHour + 12, startMinute);
        }


        var endString = '{{course.end_time}}';
        var splitEndTime = endString.split(' |:');
        var endHour = parseInt(splitEndTime[0], 10);
        var endMinute = parseInt(splitEndTime[1], 10);
        var endAMPM = splitEndTime[2];
        var endTime = new Date('January 12, 2020 0:00:00');

        if (endHour == 12) { endHour = 0 };

        if (endAMPM == "AM") {
            endTime.setHours(endHour, endMinute);
        } else {
            endTime.setHours(endHour + 12, endMinute);
        }

        var classDays = '{{course.days}}';
        var replaceM = classDays.replace(/M/, '1');
        var replaceTh = replaceM.replace(/TH/, '4');
        var replaceW = replaceTh.replace(/W/, '3');
        var replaceT = replaceW.replace(/T/, '2');
        var classDaysNum = replaceT.replace(/F/, '5');
        var classDaysArray = classDaysNum.split('');
        console.log(classDaysArray);
        console.log('ttest');

        for (var i = 0; i < classDaysArray.length; i++) {
            console.log("woohoo");
            var weekDay = parseInt(classDaysArray[i], 10);

            startTime.setDate(weekDay + baseDay);
            endTime.setDate(weekDay + baseDay);
            calendar.addEvent({
                title: '{{course.parent_class.course_title}}',
                start: startTime,
                end: endTime,
                backgroundColor: colors[j]
            })
        }
        j++;

        {% endfor %}

        calendar.render();
        console.log(calendar.getEvents());
    });

</script>
{% endblock %}