{% extends 'base.html' %}

{% block head %}
<title>{% block title %}Your Account{% endblock title %}</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-xl-4 mb-4">
            <div class="card border-dark col-12">
                <h1 class=" row card-header bg-warning">{{ user.get_full_name }}</h1>
                <div class="row" style="background-color: black; padding-top: 10px">
                    {% if not audit %}
                    <span style="font-size: 1em; color: Red; padding-left: 10px; padding-right: 30px;">
                      <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    <span style="color: White;">
                      <h5>You have NOT uploaded an official CU Audit!</h5>
                    </span>
                    {% else %}
                    <span style="font-size: 1em; color: Lime; padding-left: 10px; padding-right: 10px;">
                      <i class="fas fa-check-circle"></i>
                    </span>
                    <span style="color: White;">
                      <h5>You have successfully uploaded an official CU Audit!</h5>
                    </span>
                    {% endif %}
                </div>
                <table class="table dt-responsive" cellspacing="0" width="100%">
                <!-- <thead class="thead" id="material">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead> -->
                <tbody>
                    <tr>
                        <td><b>Username:</b> <br>{{ user.username }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Email:</b> <br>{{ user.email }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Major:</b> <br>{{ user.major }}</td>
                    </tr>
                    {% if user.is_superuser %}
                    <tr>
                        <td><b>Account Type:</b> <br>
                            Superuser/Admin
                        </td>
                        <td></td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            </div>



            <div class="card border-dark" style="width: 100%;">
                <h1 class="card-header bg-warning">Your CU Audit</h1>
                <table class="table dt-responsive" cellspacing="0" width="100%">
                {% if audit %}
                <tbody>
                    <tr>
                        <td><b>GPA:</b> <br>{{ auditInfo.gpa }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>In Progress:</b> <br>{{ auditInfo.progress }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Attempted:</b> <br>{{ auditInfo.attempted }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Earned:</b> <br>{{ auditInfo.earned }}</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>
                            <a href="{% url 'users:reset_audit' %}"><button class="btn btn-outline-dark">Reset Audit Data</button></a>
                        </td>
                    </tr>
                </tbody>
                {% else %}
                <tbody>
                    <tr>
                        <td>
                            <h1>You have not upload a CU Audit</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'users:model_form_upload' %}"><button class="btn btn-outline-dark">Upload Audit</button></a>
                        </td>
                    </tr>
                </tbody>
                {% endif %}
            </table>
            </div>
        </div>





        <div class="col-md-8 col-xl-8 mb-8">
            <div class="card border-dark" style="width: 100%;">
                <h1 class="card-header bg-warning">Your Schedule</h1>
                <div class="card-body" id="calendar"></div>
            </div>
        </div>
    </div>
</div>

{% if audit %}
<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-6 col-xl-6 mb-6">
                <div style="width: 100%; height: 400px; margin: 10px" id="donutchart"></div>
            </div>
            <div class="col-md-1 col-xl-1 mb-1"></div>
            <div id="department_div" class="col-md-5 col-xl-5 mb-5">
                <table class="table dt-responsive table-striped" cellspacing="0" style="text-align: center;">
                    <thead class="thead-dark">
                        <tr>
                            <th class="sticky-top">Department</th>
                            <th class="sticky-top"># Courses Taken</th>
                            <th class="sticky-top">Avg. GPA</th>
                            <th class="sticky-top">Credits Earned</th>
                        </tr>
                    </thead>
                    <tbody style="overflow-y: scroll; height: 200px;">
                        {% for dep in depData %}
                        <tr>
                            {%for object in dep %}
                            <td>{{object}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div id="audit_div" class="col-md-12 col-xl-12 mb-12">
                <table class="table dt-responsive table-striped" cellspacing="0" style="text-align: center; margin-right: 100px;">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="7">Course History</th>
                        </tr>
                        <tr>
                            <th class="sticky-top">Year</td>
                            <th class="sticky-top">Semester</td>
                            <th class="sticky-top">Department</td>
                            <th class="sticky-top">Course #</td>
                            <th class="sticky-top">Course Title</td>
                            <th class="sticky-top">Credits</td>
                            <th class="sticky-top">Grade Received</td>
                        </tr>
                    </thead>
                    <tbody style="overflow-y: scroll; height: 200px;">
                        {% for entry in audit %}
                        <tr>
                            <td>{{entry.year}}</td>
                            <td>{{entry.semester}}</td>
                            <td>{{entry.course.department.name}}</td>
                            <td>{{entry.course.course_subject}}</td>
                            <td>{{entry.course.course_title}}</td>
                            <td>{{entry.credits}}</td>
                            <td>{{entry.grade}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Code for calendar -->
{% include "home/calendar.html" %}

{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        // setup table scrolling
        $("#audit_div").attr("style", `height: ${screen.height * 0.5}px; overflow: auto;`);
        $("#department_div").attr("style", `height: ${screen.height * 0.5}px; overflow: auto;`);
    });
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var pieData = ({{ pieData | safe }});
        console.log(pieData);
        var data = google.visualization.arrayToDataTable(pieData);
        var options = {
            pieSliceText: 'none',
            chartArea: { top: 40, bottom: 0, left: 0, right: 0 },
            backgroundColor: 'transparent',
            pieHole: 0.4,
            legend: { position: 'labeled', textStyle: { fontSize: 16 } }
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
    };
</script>
{% endblock %}