{% extends 'base.html' %}

{% block head %}
<title>{% block title %}Your Account{% endblock title %}</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-xl-4 mb-4">
            <div class="card border-dark" style="width: 100%;">
                <h1 class="card-header bg-warning">{{ user.get_full_name }}</h1>
                <table class="table dt-responsive" cellspacing="0" width="100%">
                <!-- <thead class="thead" id="material">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead> -->
                <tbody>
                    <tr>
                        <td><b>Name:</b> <br>{{ user.get_full_name }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Username:</b> <br>{{ user.username }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Email:</b> <br>{{ user.email }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Major:</b> <br>{{ user.major }}</td>
                    </tr>
                    {% if user.is_superuser %}
                    <tr>
                        <td><b>Account Type:</b> <br>
                            Superuser/Admin
                        </td>
                        <td></td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            </div>
        </div>
        <div class="col-md-8 col-xl-8 mb-8">
            <div class="card border-dark" style="width: 100%;">
                <h1 class="card-header bg-warning">Your Schedule</h1>
                <div class="card-body" id="calendar"></div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="card">
        <ul>
            <li>
                <a href="{% url 'users:model_form_upload' %}">Model Form Upload</a>
            </li>
        </ul>

        <p>Uploaded files:</p>
        <ul>
        {% for obj in documents %}
            <li>
                <a href="/users{{ obj.document.url }}">{{ obj.document.name }}</a>
                <small>(Uploaded at: {{ obj.uploaded_at }})</small>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

<!-- Code for calendar -->
{% include "home/calendar.html" %}

{% endblock %}