{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="card">
        <h3 class="card-header">
            {{ class.course_title }}
        </h3>
        <div class="card-body">
            <table class="table dt-responsive" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td><b>Department/Number:</b> <br>{{ class.department.code }} {{ class.course_subject }}
                            ({{ class.class_component }})</td>
                        <td><b>Section:</b> <br>{{ class.section_number }}</td>
                        {% if class.instructor_name %}
                        <td><b>Instructor:</b> <br>{{ class.instructor_name }}</td>
                        {% else %}
                        <td><b>Instructor:</b> <br>N/A</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><b>Days:</b> <br>{{ class.days }}</td>
                        <td><b>Time:</b> <br>{{ class.start_time }}-{{ class.end_time }}</td>
                        {% if class.max_enrollment %}
                        <td><b>Max Enrollment:</b><br> {{ class.max_enrollment }}</td>
                        {% else %}
                        <td><br></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><b>Location:</b> <br>{{ class.building_room }}</td>
                        <td><b>Campus:</b> <br>{{ class.campus }}</td>
                        {% if class.credit %}
                        <td><b>Credits:</b><br> {{ class.credit }}</td>
                        {% else %}
                        <td><br></td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
            {% if user.is_authenticated %}
            {% if not in_schedule %}
            <a href="{% url 'schedules:add_to_schedule' %}?class_id={{ class.id }}"><button
                    class="btn btn-outline-success"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add to
                    Schedule</button></a>
            {% else %}
            <a href="{% url 'schedules:remove_from_schedule' %}?class_id={{ class.id }}"><button
                    class="btn btn-outline-danger"><i class="fa fa-minus-circle" aria-hidden="true"></i> Remove from
                    Schedule</button></a>
            {% endif %}
            {% endif %}
        </div>
    </div> <!-- card -->
    <div class="card">
        <h5 class="card-header bg-warning">
            Related Classes
        </h5>
        <table class="table dt-responsive table-striped" cellspacing="0" width="100%">
            <thead class="thead-dark">
                <tr>
                    <th>Course Number</th>
                    <th>Course Title</th>
                    <th>Section #</th>
                    <th>Instructor</th>
                    <th>Time</th>
                    <th>Room</th>
                    <th>Credit</th>
                </tr>
            </thead>
            <tbody id="result_table">
                {% for class in related %}
                <tr>
                    <td><a href="{% url 'classes:view' class.id %}">{{ class.department.code }}
                            {{ class.course_subject }} ({{ class.class_component }})</a></td>
                    <td>{{ class.course_title }}</td>
                    <td>{{ class.section_number }}</td>
                    {% if class.instructor_name %}
                    <td>{{ class.instructor_name }}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                    <td>{{ class.start_time }}-{{ class.end_time }}</td>
                    <td>{{ class.building_room }}</td>
                    <td>{{ class.credit }}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div> <!-- card -->
</div>

{% endblock %}